<div class="row">
    <div class="col-md-10 col-md-offset-2">

        <h1>About</h1>
        <p class="h5">Kurt Hutchinson Photography wants to capture what's important to you. There is no job too large or too small as we find everything interesting. </p>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <p>I'm Kurt, your friendly photojournalist.   While I've received many accolades for work I've done, my most important achievements are placing 3rd in a Kayak race and winning an award for unity. ;) When I'm not capturing the weddings of clients, concerts, or nightlife events, you can find me geeking out with technology, eating unique food items, traveling abroad and annoying my friends and family as I continuously take pictures of them.</p>
                <p>But in all seriousness tI love capturing life's events as they happen, you know in a way where the pictures can tell the story.</p>

            </div>
            <div class="col-md-6">
                <img src="/Content/images/kurt.jpg" alt="Kurt himself" style="width:100%;" />
                <div class="caption">Published: St Louis Magazine 1/2014</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p>All images copyright Kurt Hutchinson. All rights reserved. </p>
            </div>
        </div>
    </div>
</div>